.input{
    background-color:wheat;
    width: 220px;
    height: 14px;
    padding :6px;
    text-align: center;
    border-radius: 5px;
    color: black;
}

.buttonSearch{
    background-color: rgb(243,40,40);
    height: 25px;
    box-shadow: 2px 2px 4px black;
    margin: 5px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(1, 10, 12);
    width: 150px;
}

